<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>글쓰기 폼</title>
</head>
<body>
<h1>글쓰기 폼</h1>
<form action="/write" method="post">
    이름: <span th:text="${loginInfo.name}"></span><br>
    제목: <input type="text" name="title" required/><br/>
    내용: <br>
    <textarea name="content" cols="50" rows="5" required></textarea><br>
    태그 (쉼표로 구분): <input type="text" name="tags" placeholder="예: 태그1,태그2"/><br>
    <input type="submit" value="등록"/>
</form>
</body>
</html>
